.homeButton {
    font-weight: bold;
}

.sidenav {
    width: 250px;
    background-color: #ADD8E6;
}

.sideLinks {
    color: blue;
}

.sideLinks:hover {
    color: rgb(151, 151, 211);
}

.brand-logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.social {
    text-align: center;
}
