body{
    background-image: url(https://image.freepik.com/free-vector/modern-blue-medical-background_1055-6880.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h4{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}